@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/RobotoLight.woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/RobotoRegular.woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/RobotoMedium.woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/RobotoBold.woff");
}
